- 학번 : 201611125
- 이름 : 김정수
- 학과 : 게임전공

## PYSPARK 사전 설정

In [1]:
import pyspark
import os

myConf = pyspark.SparkConf()
spark = pyspark.sql.SparkSession.builder\
        .master("local")\
        .appName("myApp")\
        .config(conf = myConf)\
        .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/10/23 19:05:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

## 문제 1-1 답

In [288]:
from src import mylib as my

keyPath = os.path.join(os.getcwd(), "src", "key.properties") # reading key saved in 'src'
key = my.getKey(keyPath)
KEY = str(key["seoul"])
TYPE = "json"
SERVICE = "InfoTrdarAptQq"
START_INDEX = str(1)
END_INDEX = str(100)
STDR_YY_CD = "2021"
URL = "http://openAPI.seoul.go.kr:8088"
url = "/".join([URL, KEY, TYPE, SERVICE, START_INDEX, END_INDEX, STDR_YY_CD])

# 데이터가 출력되는 url 생성
print(url)

http://openAPI.seoul.go.kr:8088/6c434d45767761743130365a72697948/json/InfoTrdarAptQq/1/100/2021

## 문제 1-2 답

In [289]:
import requests

_url = url[:88] + url[90:]
_response = requests.get(_url)
_store = _response.json()

In [290]:
_store

{'InfoTrdarAptQq': {'list_total_count': 2700,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'STDR_YY_CD': '2021',
    'TRDAR_SE_CD': 'A',
    'TRDAR_SE_CD_NM': '골목상권',
    'APT_HSMP_CO': 5.0,
    'AE_66_SQMT_BELO_HSHLD_CO': 32.0,
    'AE_66_SQMT_HSHLD_CO': 0.0,
    'AE_99_SQMT_HSHLD_CO': 0.0,
    'AE_132_SQMT_HSHLD_CO': 0.0,
    'AE_165_SQMT_HSHLD_CO': 0.0,
    'PC_1_HDMIL_BELO_HSHLD_CO': 0.0,
    'PC_1_HDMIL_HSHLD_CO': 32.0,
    'PC_2_HDMIL_HSHLD_CO': 0.0,
    'PC_3_HDMIL_HSHLD_CO': 0.0,
    'PC_4_HDMIL_HSHLD_CO': 0.0,
    'PC_5_HDMIL_HSHLD_CO': 0.0,
    'PC_6_HDMIL_ABOVE_HSHLD_CO': 0.0,
    'AVRG_AE': 44.0,
    'AVRG_MKTC': 150247619.0,
    'STDR_QU_CD': '1',
    'TRDAR_CD': '1000975',
    'TRDAR_CD_NM': '동남로82길'}]}}

## 문제 1-3 답

In [291]:
response = requests.get(url)
store = response.json()

_data = store["InfoTrdarAptQq"]["row"]
_cols = ["TRDAR_SE_CD_NM", "APT_HSMP_CO", "PC_6_HDMIL_ABOVE_HSHLD_CO", "AVRG_MKTC", "TRDAR_CD_NM"]
for d in _data:
    for c in _cols:
        print(d[c], end = " ")
    print("")

골목상권 5.0 0.0 150247619.0 동남로82길
발달상권 3.0 0.0 161157476.0 당산역_2
발달상권 1.0 0.0 81750000.0 서울 성북구 안암역
전통시장 37.0 1.0 183067389.0 길동복조리시장
관광특구 71.0 87.0 409473123.0 이태원 관광특구
관광특구 8.0 271.0 237967427.0 동대문패션타운 관광특구
관광특구 5.0 0.0 112097903.0 종로·청계 관광특구
관광특구 22.0 1156.0 527347107.0 잠실 관광특구
골목상권 26.0 22.0 249322039.0 계동길
골목상권 5.0 0.0 87700490.0 난계로27길
골목상권 5.0 0.0 161118305.0 돈화문로11가길
골목상권 41.0 0.0 105457249.0 명륜길
골목상권 41.0 0.0 214023214.0 백석동길
골목상권 3.0 0.0 213246032.0 북촌로11길
골목상권 2.0 2.0 443000000.0 북촌로5길
골목상권 5.0 6.0 430007143.0 북촌로5나길
골목상권 1.0 2.0 572000000.0 삼청로5길
골목상권 12.0 0.0 152368531.0 성균관로5길
골목상권 19.0 0.0 141952840.0 숭인동길
골목상권 100.0 0.0 177741821.0 옥인길
골목상권 1.0 0.0 112279412.0 율곡로16길
골목상권 20.0 0.0 153940955.0 이화장길
골목상권 9.0 0.0 256264683.0 자하문로7길
골목상권 3.0 0.0 81284178.0 종로58가길
골목상권 87.0 0.0 124591950.0 종로65길
골목상권 15.0 0.0 185365873.0 지봉로8길
골목상권 8.0 0.0 142664918.0 창경궁로35길
골목상권 17.0 0.0 107096078.0 창신2길
골목상권 8.0 0.0 95141667.0 창신5길
골목상권 86.0 0.0 116533576.0 창신길
골목상권 50.0 0.0 99746000.0 통일로12길
골목상권 19.0 30.0 309926113.0 평창길
골목상권 14.0 0.0 229306432.0 필운대로1길
골목상권 16.0 33.0 272737678.0 난계로11길
골목상권 9.0 0.0 157574074.0 난계로21길
골목상권 32.0 0.0 153392079.0 다산로33길
골목상권 8.0 0.0 179132297.0 다산로36길
골목상권 10.0 1.0 242063093.0 다산로38길
골목상권 2.0 0.0 176972222.0 다산로39길
골목상권 27.0 0.0 181864758.0 동호로10길
골목상권 150.0 0.0 124396733.0 동호로11길
골목상권 41.0 12.0 208647667.0 동호로15길
골목상권 42.0 43.0 307355149.0 동호로20길
골목상권 18.0 0.0 155018621.0 동호로8길
골목상권 28.0 1.0 184979178.0 장충단로8길
골목상권 33.0 0.0 206531628.0 청구로17길
골목상권 9.0 0.0 189915947.0 청구로1길
골목상권 7.0 0.0 167530465.0 퇴계로12길
골목상권 3.0 0.0 168158730.0 퇴계로18길
골목상권 7.0 0.0 119134454.0 퇴계로46길
골목상권 6.0 0.0 130876389.0 퇴계로56길
골목상권 13.0 0.0 213297572.0 퇴계로8길
골목상권 27.0 0.0 170019584.0 퇴계로90길
골목상권 4.0 0.0 250343750.0 녹사평대로11길
골목상권 10.0 0.0 380352237.0 녹사평대로26길
골목상권 8.0 5.0 382973462.0 녹사평대로32길
골목상권 9.0 13.0 463599167.0 녹사평대로40나길
골목상권 22.0 5.0 291820883.0 녹사평대로46길
골목상권 35.0 84.0 559442404.0 대사관로34길
골목상권 38.0 0.0 294402723.0 두텁바위로1길
골목상권 104.0 16.0 242145926.0 백범로79길
골목상권 11.0 709.0 496683400.0 백범로90길
골목상권 72.0 244.0 662098926.0 서빙고로71길
골목상권 44.0 1.0 200752888.0 소월로20길
골목상권 114.0 4.0 171466325.0 신흥로20길
골목상권 49.0 129.0 614161825.0 우사단로10길
골목상권 15.0 127.0 654105268.0 우사단로14길
골목상권 22.0 12.0 489858622.0 우사단로4길
골목상권 23.0 5.0 269352177.0 원효로19길
골목상권 16.0 0.0 281720858.0 원효로41길
골목상권 40.0 0.0 228417439.0 원효로53길
골목상권 10.0 0.0 215459650.0 원효로89길
골목상권 49.0 10.0 387698359.0 이촌로22길
골목상권 11.0 19.0 483746950.0 이태원로27길
골목상권 30.0 109.0 480723433.0 이태원로54길
골목상권 33.0 106.0 573284176.0 장문로45길
골목상권 14.0 0.0 166160048.0 청파로47길
골목상권 89.0 4.0 220994083.0 청파로47나길
골목상권 122.0 0.0 215433642.0 청파로71길
골목상권 58.0 0.0 219067232.0 청파로73길
골목상권 25.0 240.0 341969048.0 한강대로104길
골목상권 8.0 151.0 457474986.0 한강대로15길
골목상권 3.0 431.0 989166024.0 한강대로43길
골목상권 14.0 1.0 286364302.0 한강대로52길
골목상권 9.0 1.0 364824342.0 한강대로62길
골목상권 6.0 12.0 419996429.0 한강대로7길
골목상권 7.0 58.0 352673085.0 한남대로20길
골목상권 22.0 40.0 349667714.0 회나무로13길
골목상권 90.0 0.0 231388058.0 효창원로39길
골목상권 127.0 21.0 277169594.0 후암로28길
골목상권 61.0 0.0 201004295.0 고산자로6길
골목상권 39.0 0.0 182191459.0 금호산2길
골목상권 69.0 0.0 200790347.0 금호산길
골목상권 23.0 9.0 451650381.0 둘레9길
골목상권 15.0 144.0 318029114.0 뚝섬로5길
골목상권 10.0 0.0 140662018.0 마장로27길
골목상권 7.0 0.0 261575022.0 마장로39길
골목상권 20.0 0.0 228218098.0 마조로16길
골목상권 26.0 0.0 149740447.0 마조로1길
골목상권 9.0 1530.0 599287898.0 매봉길

## 문제 2 준비

In [313]:
yesterday=[
    ["Yesterday 어제는"],
    ["All my troubles seemed to far away 내 모든 문제들이 참 멀리 있는 것 같았는데"],
    ["Now it looks as though they're here to stay 이제는 그 모든 문제들이 여기에 있는 것처럼 보여"],
    ["Oh, I believe in yesterday 오, 어제가 좋았는데"],
    ["Suddenly 갑자기 그-림-자-가 2021 그-림-자-가 2021"],
    ["I'm not half the man I used to be 난 예전 내 모습의 반도 못한 사람이 되어버렸어"],
    ["There's a shadow hanging over me 내 위에 그림자가 드리워져 있네"],
    ["Oh!, yesterday came suddenly 오!, 이제는 너무 갑자기 와버렸어.."]]

myRDD = spark.sparkContext.parallelize(yesterday)

## 문제 2-1 답

In [314]:
word_count = myRDD.map(lambda x: x[0])\
                .flatMap(lambda x: x.split(" "))\
                .map(lambda x: (x,1))\
                .reduceByKey(lambda x,y: x + y)

for w in word_count.collect():
    print(w)

('Yesterday', 1)
('어제는', 1)
('All', 1)
('my', 1)
('troubles', 1)
('seemed', 1)
('to', 3)
('far', 1)
('away', 1)
('내', 3)
('모든', 2)
('문제들이', 2)
('참', 1)
('멀리', 1)
('있는', 2)
('것', 1)
('같았는데', 1)
('Now', 1)
('it', 1)
('looks', 1)
('as', 1)
('though', 1)
("they're", 1)
('here', 1)
('stay', 1)
('이제는', 2)
('그', 1)
('여기에', 1)
('것처럼', 1)
('보여', 1)
('Oh,', 1)
('I', 2)
('believe', 1)
('in', 1)
('yesterday', 2)
('오,', 1)
('어제가', 1)
('좋았는데', 1)
('Suddenly', 1)
('갑자기', 2)
('그-림-자-가', 2)
('2021', 2)
("I'm", 1)
('not', 1)
('half', 1)
('the', 1)
('man', 1)
('used', 1)
('be', 1)
('난', 1)
('예전', 1)
('모습의', 1)
('반도', 1)
('못한', 1)
('사람이', 1)
('되어버렸어', 1)
("There's", 1)
('a', 1)
('shadow', 1)
('hanging', 1)
('over', 1)
('me', 1)
('위에', 1)
('그림자가', 1)
('드리워져', 1)
('있네', 1)
('Oh!,', 1)
('came', 1)
('suddenly', 1)
('오!,', 1)
('너무', 1)
('와버렸어..', 1)

## 문제 2-2 답

In [315]:
for w in word_count.collect():
    if w[1] != 1:
        print(w)

('to', 3)
('내', 3)
('모든', 2)
('문제들이', 2)
('있는', 2)
('이제는', 2)
('I', 2)
('yesterday', 2)
('갑자기', 2)
('그-림-자-가', 2)
('2021', 2)

## 문제 2-3 답

In [321]:
word_count_2 = myRDD.map(lambda x: x[0])\
                .flatMap(lambda x: x.split(" "))\
                .map(lambda x: x.replace("-", ""))\
                .map(lambda x: x.replace("!", ""))\
                .map(lambda x: x.lower())\
                .map(lambda x: (x,1))\
                .reduceByKey(lambda x,y: x + y)\
                .sortBy(lambda x: x[1], False)

In [322]:
for w in word_count_2.collect():
    if w[1] != 1:
        try:
            int(w[0])
        except:
            print(w)

('yesterday', 3)
('to', 3)
('내', 3)
('그림자가', 3)
('모든', 2)
('문제들이', 2)
('있는', 2)
('이제는', 2)
('oh,', 2)
('i', 2)
('오,', 2)
('suddenly', 2)
('갑자기', 2)

/usr/local/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling

## 문제 2-4 답

In [359]:
word_count_3 = word_count_2.map(lambda x: x if len(x[0]) != 1 else (0 ,x[1]))

for w in word_count_3.collect():
    if w[1] != 1 and w[0] != 0:
        try:
            int(w[0])
        except:
            print(w)

('yesterday', 3)
('to', 3)
('그림자가', 3)
('모든', 2)
('문제들이', 2)
('있는', 2)
('이제는', 2)
('oh,', 2)
('오,', 2)
('suddenly', 2)
('갑자기', 2)

/usr/local/lib/python3.9/site-packages/pyspark/python/lib/pyspark.zip/pyspark/shuffle.py:60: UserWarning: Please install psutil to have better support with spilling

## 문제 3 준비

In [353]:
import json

n = os.path.join("data", "서울특별시 코로나19 자치구별 확진자 발생동향.json")
with open(n, "r", encoding = "utf-8") as f:
    data = f.readlines()

_all = []
for d in data[3:-2]:
    _d = d.replace("\n", "")
    if _d[-1] == ",":
        _d = _d[:-1]
    
    _d = json.loads(_d)
    _all.append(_d)

coRdd = spark.sparkContext.parallelize(_all)
covidDf = spark.createDataFrame(coRdd)

## 문제 3-1 답

In [354]:
entire = covidDf.count()
df = covidDf.filter(covidDf.etc.isNotNull())
removed = df.count()
print("전체 :: %d" % entire)
print("null 제거 후 :: %d" % removed)

전체 :: 628
null 제거 후 :: 605

In [355]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---+------+------+---------+-------+----------+---+-----+---+------+-------+----------+--------+-----------+-------+----------+-------+----------+---------+------------+----+-------+------+---------+--------+-----------+------+------+---------+------+---------+--------+-----------+----+-------+-----+--------+---+------+------+---------+--------+-----------+---------+------------+------+---------+---------+---------+------------+---+------+-------+----------+
|ddm|ddmadd|dobong|dobongadd|dongjak|dongjakadd| ep|epadd|etc|etcadd|gangbuk|gangbukadd|gangdong|gangdongadd|gangnam|gangnamadd|gangseo|gangseoadd|geumcheon|geumcheonadd|guro|guroadd|gwanak|gwanakadd|gwangjin|gwangjinadd|jcg_dt|jongno|jongnoadd|junggu|jungguadd|jungnang|jungnangadd|mapo|mapoadd|nowon|nowonadd|sdm|sdmadd|seocho|seochoadd|seongbuk|seongbukadd|seongdong|seongdongadd|songpa|songpaadd|work_dttm|yangcheon|yangcheonadd|ydp|ydpadd|yongsan|yongsanadd|
+---+------+------+---------+-------+----------+---+-----+---+------+-------+----------+--------+-----------+-------+----------+-------+----------+---------+------------+----+-------+------+---------+--------+-----------+------+------+---------+------+---------+--------+-----------+----+-------+-----+--------+---+------+------+---------+--------+-----------+---------+------------+------+---------+---------+---------+------------+---+------+-------+----------+
|  0|     0|     0|        0|      0|         0|  0|    0|  0|     0|      0|         0|       0|          0|      0|         0|      0|         0|        0|           0|   0|      0|     0|        0|       0|          0|     0|     0|        0|     0|        0|       0|          0|   0|      0|    0|       0|  0|     0|     0|        0|       0|          0|        0|           0|     0|        0|      433|        0|           0|  0|     0|      0|         0|
+---+------+------+---------+-------+----------+---+-----+---+------+-------+----------+--------+-----------+-------+----------+-------+----------+---------+------------+----+-------+------+---------+--------+-----------+------+------+---------+------+---------+--------+-----------+----+-------+-----+--------+---+------+------+---------+--------+-----------+---------+------------+------+---------+---------+---------+------------+---+------+-------+----------+

## 문제 3-2 답

In [356]:
from pyspark.sql.types import *
from pyspark.sql.functions import udf

def createSum(*d):
    k = 0
    for _d in d:
        k += int(_d)
    return k

_create = udf(createSum, IntegerType())
df = df.withColumn("total", _create(df["jongno"], df["mapo"], df["yongsan"]))

df.select("jongno", "mapo", "yongsan", "total").show(10)

+------+----+-------+-----+
|jongno|mapo|yongsan|total|
+------+----+-------+-----+
|  2036|4191|   3076| 9303|
|  2023|4176|   3064| 9263|
|  2008|4164|   3055| 9227|
|  1989|4157|   3049| 9195|
|  1977|4134|   3041| 9152|
|  1968|4127|   3031| 9126|
|  1958|4121|   3023| 9102|
|  1949|4112|   3006| 9067|
|  1925|4102|   2995| 9022|
|  1900|4082|   2976| 8958|
+------+----+-------+-----+
only showing top 10 rows

## 문제 3-3 답

In [357]:
selct_2020_3 = udf(lambda x: x[:7], StringType())
covidDf.select("jcg_dt", "jongno").filter(selct_2020_3(covidDf.jcg_dt) == "2020.03").show()

+-------------+------+
|       jcg_dt|jongno|
+-------------+------+
|2020.03.31.10|    13|
|2020.03.30.10|    13|
|2020.03.29.10|    13|
|2020.03.28.10|    13|
|2020.03.27.00|    13|
|2020.03.26.00|    13|
|2020.03.25.00|    13|
|2020.03.24.00|    12|
|2020.03.23.00|    11|
|2020.03.22.00|    11|
|2020.03.21.00|    11|
|2020.03.20.00|    11|
|2020.03.19.00|    11|
|2020.03.18.00|    11|
|2020.03.17.10|    11|
|2020.03.16.10|    11|
|2020.03.15.10|    11|
|2020.03.14.10|    11|
|2020.03.13.10|    11|
|2020.03.12.10|    11|
+-------------+------+
only showing top 20 rows

## 문제 3-4 답

In [358]:
select_year = udf(lambda x: x[:4], StringType())
select_month = udf(lambda x: x[5:7], StringType())
def sum_all(*d):
    k = 0
    for _d in d:
        k += int(_d)
    return k

sum_alls = udf(sum_all, IntegerType())

df_2 = df.withColumn("SumAll", 
                     sum_alls(df["JONGNO"], df["JUNGGU"], df["YONGSAN"],
                             df["SEONGDONG"], df["GWANGJIN"], df["DDM"],
                             df["JUNGNANG"], df["SEONGBUK"], df["GANGBUK"],
                             df["DOBONG"], df["NOWON"], df["EP"],
                             df["SDM"], df["MAPO"], df["YANGCHEON"],
                             df["GANGSEO"], df["GURO"], df["GEUMCHEON"],
                             df["YDP"], df["DONGJAK"], df["GWANAK"],
                             df["SEOCHO"], df["GANGNAM"], df["SONGPA"],
                             df["GANGDONG"], df["ETC"]))
df_2 = df_2.withColumn("Month", select_month(df.jcg_dt)).withColumn("Year", select_year(df.jcg_dt))

df_3 = df_2.groupBy('Month').pivot('Year').agg({"SumAll":"sum"})

df_3.sort(df_3["Month"]).select("Month", "2020", "2021").where(df_3["2020"].isNotNull()).where(df_3["2021"].isNotNull()).show(10)

+-----+------+-------+
|Month|  2020|   2021|
+-----+------+-------+
|   02|   152| 736287|
|   03|  7702| 934792|
|   04| 17944|1048473|
|   05| 22436|1310996|
|   06| 33382|1407336|
|   07| 45253|1770523|
|   08| 72362|2226916|
|   09|142445|2675873|
|   10|174829|2493798|
+-----+------+-------+